{{#each posts as |post|}}
  <div class="post">
    <h2 class="post-title">
      <a href="/post/{{post.id}}">{{post.title}}
        -
        {{format_date post.date_created}}</a>
    </h2>
    <p>{{post.content}}</p>
  </div>
{{/each}}