<div>
  <form class="login-form">
    <h1 class="login-header">Login</h1>
    <div>
      <label for="email-login" id="email-login">Email:</label>
      <input type="text" />
    </div>
    <div>
      <label for="password-login" id="password-login">Password:</label>
      <input type="password" />
    </div>
    <button type="submit" class="login-btn">Login</button>
    <button class="signup-btn">Sign Up</button>
  </form>

  <form class="signup-form">
    <h1 class="signup-header">Sign Up</h1>
    <div>
      <label for="name-signup">Name:</label>
      <input type="text" id="name-signup" />
    </div>
    <div>
      <label for="email-login" id="email-login">Email:</label>
      <input type="text" />
    </div>
    <div>
      <label for="password-login" id="password-login">Password:</label>
      <input type="password" />
    </div>
    <button type="submit" class="signup-btn">Sign Up</button>
    <button class="login-btn">Login</button>
  </form>
</div>