a {
  color: white;
}

nav {
  background-color: black;
  padding: 20px 0;
  display: flex;
}

.forms {
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-left: 250px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-right: 250px;
}

.login-btn {
  margin: 20px 0;
}

.nav-link {
  font-size: 25px;
  color: white;
  padding-right: 40px;
}

.hidden {
  display: none;
}

.show-update-form {
  margin: 0 0 10px 20px;
}

.delete-post {
  margin-left: 20px;
  height: 26px;
}

.post-btn {
  margin-top: 10px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  margin: 25px 0 25px 50px;
  padding: 0 20px;
}

.comments-section-wrapper {
  display: flex;
}

.comment {
  width: 300px;
  height: 200px;
}

.comment-form {
  margin-left: 50px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.new-comment-wrapper {
  display: flex;
}

.update-post-form-wrapper {
  display: flex;
}

.update-form {
  margin-left: 50px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.updated-content {
  width: 300px;
  height: 200px;
}

.update-post {
  margin-top: 10px;
}

.post-title {
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding-bottom: 5px;
  padding-left: 20px;
  color: white;
}

.postpage-post {
  border-style: solid;
  border-radius: 20px;
  margin: 10px 20px;
}

.postpage-btns {
  display: flex;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-style: solid;
  border-radius: 20px;
  margin: 50px 25px 0 50px;
}

.dashboard-post {
  background-color: black;
  margin: 30px 50px;
  border-radius: 10px;
  padding: 10px 20px;
}

.your-dasbhoard {
  border-style: solid;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 30px;
  padding: 0 10px;
}

.dashboard-header {
  display: flex;
}

#post-form {
  margin-left: 50px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

.new-post-wrapper {
  display: flex;
}

#post-content {
  width: 400px;
  height: 200px;
}

#post-title {
  width: 400px;
}

#submit-post {
  margin-top: 10px;
}

#new-post {
  margin-left: 50px;
}
